body{
	background: rgb(235, 242, 251);
	margin: 0 70px;
	font-size: 18px;
}

header{
	position: relative;
	top: 10px;
	left: 10px;
	padding: 20px 0 0 0;
	height: 220px;
}


.pi{
	position: relative;
	top: -150px;
	right: 10px;
}

 .container {
	position: relative;
	top: -30px;
	width: 80%;
    margin: auto;
}

 .carousel-inner > .item > a > img, .carousel-inner > .item > img{
	width: 80%;
    margin: auto;
 }

.life{
	position: relative;
	top: -280px;
	width: 310px;
	color: white;
	margin: 20px auto;
	font-size: 50px;
	text-decoration: none;
}

.life:hover{
	color: rgb(76, 179, 264);
	transition: 0.3s linear;
}

.life, h2{
	font-family: Segoe Script;	
}

h2, p{
	position: relative;
	top: 10px;
	width: 60%;
	margin: 20px auto;
	color: rgb(39, 86, 120);
}

h2{
	color: rgb(13, 29, 40);
	font-weight: bold;
}

 .controls{
	 position: relative;
	 left: 235px;
	 width: 800px;
	 margin: auto 0;
 }
 
 .phaser{
	 position: relative;
	 right: 140px;
	 display: inline-block;
 }
 
 p{
	 font-family: Century Gothic;
 }
 
 p.phaser{
	 position: relative;
	 left: 230px;
 }
 
 a{
	 border: none;
 }
 
 a:hover{
	text-decoration: none;
	color: rgb(100, 100, 100);
	transition: 1s linear;
 }
 
 .code{
	 position: relative;
	 left: 150px;
	 width: 800px;
 }

 
 
 
 
 
 
 
 
 
 
 
 
 
 
 #toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:100%;
	background:url(../img/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}
